<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

$(document).ready(function(){

    var id = window.location.pathname.match(/places\/(\d+)/)[1];
    $("form").on("submit", function(event){
        
        var formValues= getFormData($(this));

        $.ajax({
            type        : 'POST',
            url         : '/places/'+id+'/contact', 
            contentType : 'application/json',
            data        : JSON.stringify(formValues),
            dataType    : 'json', 
        })
           
            .done(function(data) {
                location.href='/view/'+id+'/contacts';
        });
        event.preventDefault();
    });
    $("#back_to_list").attr("href",'/view/'+id+'/contacts');
});

function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
        indexed_array[n['name']] = n['value'];
    });

    return indexed_array;
}
</script>
</head>
<body>
<h1>Contact creation</h1>

<form id="form">


        <div id="firstname-group" class="form-group">
            <label for="firstname">first name</label>
            <input type="text" class="form-control" required="required" name="firstname" placeholder="enter the first name">
        </div>

        <div id="lastname-group" class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" required="required" name="lastname" placeholder="enter the last name">
        </div>


        <div id="title-group" class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" name="title" placeholder="enter a title">
        </div>

        <div id="phone-group" class="form-group">
            <label for="phone">phone</label>
            <input type="text" class="form-control" name="phone" placeholder="enter a phone number">
        </div>

        <div id="email-group" class="form-group">
            <label for="email">email</label>
            <input type="text" class="form-control" name="email" placeholder="enter a email number">
        </div>

        <button type="submit" class="btn btn-success">Submit <span class="fa fa-arrow-right"></span></button>

</form>
<div>
<a id="back_to_list">back to list </a>
</div>
</body>
</html>