<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	var url = window.location.pathname;
    var id = window.location.pathname.match(/view\/(\d+)/)[1];
    $.ajax({
    		type: "GET",
            url:'/place/'+id+'/contacts',
            dataType: "json",
            // ajax options
            success: function(response) {
                append_json(response);
            }
        });
  });
function append_json(data){
        var table = document.getElementById('contactliste');
        data.forEach(function(object) {
            var tr = document.createElement('tr');
            tr.innerHTML = 
            '<td>' + object.id+ '</td>' +
            '<td>' + object.firstName + '</td>' +
            '<td>' + object.lastName+ '</td>' +
            '<td>' + object.job + '</td>' +
            '<td>' + object.phoneNumber + '</td>'+
            '<td>'+ '<ul>'+
            '<li>'+
            "<a href=/view/"+object.id+"/edit"+">edit</a>"+
            "</li>"+
            '<li>'+
            "<a onclick=deleteContact("+object.id+")>delete</a>"+
            "</li>"+
            "</ul>"+"</td>";
            table.appendChild(tr);
        });
    }
function deleteContact(id){
            $.ajax({
            type        : 'DELETE', 
            url         : '/place/contact/'+id, 
            contentType: "application/json",
            data        : JSON.stringify({}), // our data object
            dataType    : 'json', // what type of data do we expect back from the server
        })
            // using the done promise callback
            .done(function(data) {
                alert("done")
                document.location.reload();
        });
}
function newContact(){
	var url = window.location.pathname;
    var id = window.location.pathname.match(/view\/(\d+)/)[1];
    location.href="/place/"+id+"/contact";
}
</script>
</head>
<body>

<div >
	<table id="contactliste">
		<thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Lob</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        </table>
</div>
<div>
<input type="button" onclick="newContact()" value="new entry" />
</div>


</body>
</html>

