<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $.ajax({
    		type: "GET",
            url: "/rest_place/",
            dataType: "json",
            // ajax options
            success: function(response) {
                append_json(response);
            }
        });
  });
function append_json(data){
        var table = document.getElementById('placeliste');
        data.forEach(function(object) {
            var tr = document.createElement('tr');
            tr.innerHTML = 
            '<td>' + object.id+ '</td>' +
            '<td>' + object.name + '</td>' +
            '<td>' + object.address+ '</td>' +
            '<td>' + object.createdAt.date + '</td>' +
            '<td>' + object.comment + '</td>'+
            '<td>'+ '<ul>'+
            '<li>'+
            "<a href=/view/"+object.id+"/edit"+">edit</a>"+
            "</li>"+
            '<li>'+
            "<a onclick=deletePlace("+object.id+")>delete</a>"+
            "</li>"+
            "</ul>"+"</td>";
            table.appendChild(tr);
        });
    }
function deletePlace(id){
    $.ajax({
        type: "GET",
        url: '/rest_place/'+id+'/edit',
        dataType: "json",
        // ajax options
        success: function(response) {
            console.log(response);
            console.log(JSON.stringify(response));
            $.ajax({
            type        : 'DELETE', 
            url         : '/rest_place/'+id, 
            contentType: "application/json",
            data        : JSON.stringify(response), // our data object
            dataType    : 'json', // what type of data do we expect back from the server
        })
            // using the done promise callback
            .done(function(data) {
                alert("done")
        });
            }
    });
}
</script>
</head>
<body>

<div >
	<table id="placeliste">
		<thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Createdat</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        </table>
</div>
<div>
<input type="button" onclick="location.href='/view/new';" value="new entry" />
</div>


</body>
</html>

