<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
    $("form").on("submit", function(event){
        
 
        var formValues= getFormData($(this));

        $.ajax({
            type        : 'POST', 
            url         : "/rest_place/new", 
            contentType: "application/json",
            data        : JSON.stringify(formValues),
            dataType    : 'json', 
        })
            
            .done(function(data) {
                location.href='/view/';
        });
        event.preventDefault();
    });
});

function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
        indexed_array[n['name']] = n['value'];
    });

    return indexed_array;
}
</script>
</head>
<body>
<h1>Place creation</h1>

<form id="form">


        <div id="name-group" class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" required="required" name="name" placeholder="enter the name">
 
        </div>


        <div id="address-group" class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" required="required" name="address" placeholder="enter the address">

        </div>


        <div id="comment-group" class="form-group">
            <label for="comment">Comment</label>
            <input type="text" class="form-control" name="comment" placeholder="enter a comment">

        </div>

        <button type="submit" class="btn btn-success">Submit <span class="fa fa-arrow-right"></span></button>

</form>
<div>
<input type="button" onclick="location.href='/view/';" value="back to list" />
</div>
</body>
</html>